<form (submit)="submit($event)">
	<label for="title">Title</label>
	<input type="text" [field]="postForm.title" id="title" />
	@if (postForm.title().errors().length > 0 && postForm.title().touched()) {
		@for (error of postForm.title().errors(); track $index) {
			<p class="error-msg">{{ error.message }}</p>
		}
	}

	<label for="message">Message</label>
	<textarea [field]="postForm.message" id="message" cols="30" rows="10"></textarea>
	@if (postForm.message().errors().length > 0 && postForm.message().touched()) {
		@for (error of postForm.message().errors(); track $index) {
			<p class="error-msg">{{ error.message }}</p>
		}
	}
	<ng-content></ng-content>
</form>
